body {
    font-family: sans-serif;
    font-size: clamp(1rem, 0.8696rem + 0.6522vw, 1.375rem);
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
        background-color: #2e3436;
    }
}

p,
ul {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    line-height: 1;
    margin: 0;
}

a {
    color: currentColor;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: clamp(2.4881rem, 1.894rem + 2.9707vw, 4.1963rem);
}

h2 {
    font-size: clamp(2.0738rem, 1.6274rem + 2.2315vw, 3.3569rem);
}

h3 {
    font-size: clamp(1.7281rem, 1.3951rem + 1.6652vw, 2.6856rem);
}

h4 {
    font-size: clamp(1.44rem, 1.1935rem + 1.2326vw, 2.1488rem);
}

header {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: calc(1rem + 3vw);
    gap: 1rem;
}

ul.social-links {
    padding: 0;
    list-style: none;
}

.social-links li {
    display: inline;
}

.social-links li:not(:last-child)::after {
    content: ' — ';
}

.header-text {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
}

.header-lead {
    font-size: clamp(1.7281rem, 1.3951rem + 1.6652vw, 2.6856rem);
}

.header-image {
    flex-basis: 20rem;
    flex-grow: 1;
}

.header-image img {
    width: 100%;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    max-width: 50vw;
}

.experience *+* {
    margin-top: 1.5em;
}

.experience {
    padding: calc(1rem + 3vw);
}

.experience ul {
    list-style: none;
}

.experience>ul {
    padding-inline: 0;
}

.projects {
    background-color: #2291ff;
    color: white;
    padding: calc(1rem + 3vw);
}

.projects>*+* {
    margin-top: 1.5em;
}

.projects>ul {
    list-style: none;
    padding-inline: 0;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
}

.projects>ul li *+* {
    margin-top: 1.5em;
}